
#product-overview {
    background: url('freedom.jpg');
    width: 100%;
    height: 528px;
    padding: 10px;

}

.plan__list{
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background-color: #d5ffdc;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    text-align: center;
}

.plan--highlight{
    background-color: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background-color: white;
    color: #19b84c;
    padding: 12px 0px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
    border-radius: 8px;
}

.plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
}
.plan__features li {
    margin: 8px 0;
}

.plan__title{
    color: #0e4f1f;
}

.plan__price{
    color: #858585;
}

.plan--highlight .plan__price{
    color: #0e4f1f;
}
.plan--highlight .plan__title{
    color: white;
}

#key-features{
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title{
    color: white;
    margin: 32px;
}

.key-features__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%;
    vertical-align: top;

}

.key-feature__image{
    background-color: #ffcede;
    border: 2px solid #424242;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin: auto;
}

.key-feature__description{
    text-align: center;
    font-weight: bold;
    color: white;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}
