main {
    padding-top: 32px;
}

.package{
    background: #d5ffdc;
    border: 5px solid  #0e4f1f;
    width: 70%;
    margin: 16px 0;
   
    border-left: none;
}
.package a {
    text-decoration: none;
    padding: 32px;
    display: block;
    
}
.package__title{
    color: black;
    font-size: 24px;
}

.package__description{
    color: rgb(163, 162, 162);
}

.package__text{
    color: #0e4f1f;
    font-weight: 500;
    background: white;
    border: 1px solid #0e4f1f;
    padding: 16px;
}